
<section id="contact" class="s-contact target-section">

    <div class="row contact-top">
        <div class="column lg-12">
            <h2 class="text-pretitle">
                Get In Touch
            </h2>

            <p class="h1">
                I love to hear from you.
                Whether you have a question or just
                want to chat about design, tech & art — shoot me a message.
            </p>
        </div>
    </div> <!-- end contact-top -->



    <div class="row contact-bottom">
        <div class="column lg-3 md-5 tab-6 stack-on-550 contact-block">
            <h3 class="text-pretitle">Reach me at</h3>
            <p class="contact-links">
                <a href="mailto:sayhello@luther.com" class="mailtoui">sayhello@luther.com</a> <br>
                <a href="tel:+1975432345">+197 543 2345</a>
            </p>
        </div>
        <div class="column lg-4 md-5 tab-6 stack-on-550 contact-block">
            <h3 class="text-pretitle">Social</h3>
            <ul class="contact-social">
                <li><a href="#0">Behance</a></li>
                <li><a href="#0">Dribble</a></li>
                <li><a href="#0">Twitter</a></li>
                <li><a href="#0">Instagram</a></li>
                <li><a href="#0">Github</a></li>
            </ul>
        </div>
        <div class="column lg-4 md-12 contact-block">
            <a href="#contact2" class="btn btn-primary">
                Bana Ulaşın
            </a>

        </div>
    </div>




</section>




<section id="contact2" class="s-contact target-section">

    <div class="row contact-top">
        <div class="column lg-12 md-6 tab-6 stack-on-550 contact-block">
            <h2 class="text-pretitle">
                Mesaj Gönderin
            </h2>
            <form class="column lg-12" method="post" action="/Default/SendMessage/">
                <label>Ad Soyad</label>
                <input type="text" name="Name" class="form-control" required />
                <br />
                <label>Email</label>
                <input type="email" name="Email" class="form-control" required />
                <br />
                <label>Konu</label>
                <input type="text" name="Subject" class="form-control" required />
                <br />
                <label>Mesajınız</label>
                <textarea type="text" name="MessageContent" class="form-control" rows="4" required></textarea>
                <br />
                <button class="btn btn-outline-dark">Mesajı Gönder</button>


            </form>
        </div>
    </div> <!-- end contact-top -->








</section>
