@model List<MyPortfolio_MVC.Models.TblCategory>
@{
    ViewBag.Title = "Index";
    Layout="~/Views/AdminLayout/layout.cshtml";
}

<h3>  Kategoriler </h3>

<table class="table table-bordered">
    <thead>
     <tr>
        <th></th>
        <th>Kategori Adı </th>
        <th>Sil</th>
        <th>Güncelle</th>

     </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CategoryId</td>
                <td>@item.Name</td>

            <td><a href="/Category/DeleteCategory/@item.CategoryId" class="btn btn-outline-danger">Sil</a>  </td>

             <td><a href="/Category/UpdateCategory/@item.CategoryId" class= "btn btn-outline-info">Güncelle</a> </td>

            </tr>

        }

    </tbody>

    



</table>
<br />
<a href="/Category/CreateCategory" class="btn btn-success">&nbsp; Kategori Ekle</a>

